/* ####################################   BODY   ######################################### */
body {
    background-color: black;
    margin: 0;
/*     width: 100%; /*this line of code is an attempt to stop the scroll bar appearing bottom of web page width wise. */
}
/* ####################################################################################### */

.page_container {
    padding-top: 69px;
}

/* ##############################  LOGO AND NAVIGATION   ################################# */
.logo_and_navagation_container {
    display: inline-flex;
    width: 100%;
    height: 69px;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    left: 0;
    /* margin-bottom: 50px; */
    background-color: black;
    z-index: 1;
}

.tea_cozy_logo {
    margin-left: 10px;
    margin-top: 10px;
}

.tea_cozy_logo img {
    height: 50px;
}

nav {
    display: inline-flex;
    margin-right: 25px;
    align-items: center;
}

nav li {

    margin-left: 5px;
    margin-right: 5px;
    text-decoration: underline;
}

nav a {
    color: seashell;
    font-size: 22px;
}
/* ####################################################################################### */


/* ##############################   OUR MISSION HEADER   ################################# */

.header_container {
   width: 100%;
   display: flex;
   justify-content: space-around;
   position: relative;
}

#our_mission {
    position: absolute;
    top: 200px;
}

.image_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 700px;
    background-image: url(../Images/img-mission-background.jpeg);
}

.content_container {
    background-color: black;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: seashell;
    font-size: 22px;
}

.content_container h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.content_container h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* ####################################################################################### */


/* #############################   TEA OF THE MONTH HEADER   ############################# */
.tea_of_the_month_container {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    position: relative;
} 

#featured_tea {
    position: absolute;
    top: -69px;
}

.tea_of_the_month_content {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tea_of_the_month_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: seashell;
}

.tea_of_the_month_title h2 {
    margin-top: 60px;
    margin-bottom: 5px;
}

.tea_of_the_month_title h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tea_of_the_month_images {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea_of_the_month_images img {
    width: 300px;
    height: 200px;
}

.tea_of_the_month_images span {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.tea_of_the_month_images p {
    margin-top: 10px;
    margin-bottom: 5px;
}
/* ####################################################################################### */


/* ###################################   LOCATIONS   ##################################### */
.locations_container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

#locations {
    position: absolute;
    top: -69px;
}

.location_image_container {
    width: 1200px;
    height: 500px;
    margin-top: 35px;
    background-image: url(../Images/img-locations-background.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations_title h2 {
    margin: 0px;
    color: seashell;
}

.location_details {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.location_content_box {
    height: 300px;
    width: 300px;
    color: white;
    background-color: black;
    margin: 15px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
/* ####################################################################################### */


/* ################################   CONTACT DETAILS    ################################# */
.contact_details_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: seashell;
}

.email_address {
    text-decoration: none;
    color: seashell;
}

.email_address:hover {
    color: 	#FFFF00;
    text-shadow: 0px 0px 10px #FF1493;
}

.email_address:active {
    color: #87CEEB;
}

.email_address_style:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

/* ####################################################################################### */


/* #####################################   FOOTER   ###################################### */
.copyright_notice {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: seashell;
    margin-left: 20px;
}
/* ####################################################################################### */



